h2{
	text-align: center;
}
table{
	margin: auto;
}
td{
	width: 100px;
	height: 100px;
}
.colmid{
	border-left: 1px black solid;
	border-right: 1px black solid;
}
.rowmid{
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.mid{
	border: 1px black solid;
}